<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  
      
 <add name="SQLServer" connectionString="data source=.\sqlexpress;initial catalog=Bank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;"
        providerName="System.Data.SqlClient" /> 
     <add name="Plik1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Bank.mdf; MultipleActiveResultSets=True;"
    providerName="System.Data.SqlClient" />

    <add name="Plik"   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Model\PlikiBazy\Bank.mdf; MultipleActiveResultSets=True; "
        providerName = "System.Data.SqlClient" />
  </connectionStrings>
</configuration>